#contact-section{
color: white;
}

#contact-section .container{
    color: white;  
}

#contact-section .large-title{
    color: #c6e4ff;
    font-weight: 900;
    font-size: 4.5rem;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    left: -75px;
  }

  /* Contact Form 7 Styles
---------------------------------*/
 
.wpcf7-form-control {
	margin: 5px 0px;
 
 
}

.wpcf7-form {
margin: 25px 25px 10px;
}

.wpcf7-textarea {
width: 85%;
 
}

.wpcf7-text {
width: 50%;
}

.wpcf7-submit {
background: #b2b2b4;
color: #ffffff;
	width: 50%;
}
